<h3>新規投稿</h3>

  <%= form_with model: @post do |f| %>
  <%= render "shared/error_message", model: f.object %>
    <table>
      <tr>
        <th><%= f.label :title, "題名" %></th>
        <td><%= f.text_field :title , class: "f" %></td>
      </tr>
      <tr>
        <th><%= f.label :content, "内容" %></th>
        <td><%= f.text_area :content , class: "f area" %></td>
      </tr>
            <%= f.hidden_field :user_id, value: @login_user.id %>
    </table>
    <%= f.submit "投稿", class:"submit btn" %>
    <%= link_to "戻る", "/", class:"btn" %>
  <% end %>