<h3><%= "#{@post.user.name}の投稿" %><h3>
<table>
        <tr>
            <th>投稿日時</th>
            <td><%= @post.created_at.to_s(:datetime_jp) %></td>
        </tr>
        <tr>
            <th>題名</th>
            <td><%= @post.title %></td>
        </tr>
        <tr>
            <th>内容</th>
            <td><%= simple_format(@post.content) %></td>
        </tr>
</table>
<% if Like.find_by(user_id: @login_user.id, post_id: @post.id)%>
  <%= link_to "/likes/#{@post.id}/destroy", method: :post do %>
    <i class="fa fa-thumbs-up unlike"></i>
  <% end %>
<% else %>
  <%= link_to "/likes/#{@post.id}/create", method: :post do %>
    <i class="fa fa-thumbs-up like"></i>
  <% end %>
<% end %>
<%= @likes_count %>
<% if @login_user.id == @post.user_id %>
  <%= link_to "編集", edit_post_path(@post), class: "btn" %>
  <%= link_to "削除", post_path(@post), method: :delete, class: "btn" %>
<% end %>